body{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.blanco{
    color: white
  }
  
  .tarjeta{
    background: transparent; color : white ; border-color : white;
  }
  
  .presentacion{
     color: white; margin : 20px; padding: 10px; text-align : left ;
  }
  .foto-presentacion{
    width: 10rem; border-radius: 50% ; border: solid 2px #191654
  }